/* Main block CSS Styles */

body {
   padding: 0;
   margin: 0;
   color: #304550;
   background: url("../images/bg.jpg") no-repeat fixed center;
   height: 100%;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-size: 13px;
}

a:link, a:visited {
   color: #333;
   outline: none;
   text-decoration: none;
}

a:hover {
   color: #333;
   outline: none;
}

h2 {
   padding: 0;
   margin: 0;
   text-align: center;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-size: 14px;
}

h2.h-top {
   padding: 10px;
   margin: 0;
   text-align: center;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-size: 14px;
   background: #fff5d6;
   border: 1px solid #f1cd59;
   border-radius: 5px;
   text-decoration: underline;
}

h2.h-bot {
   padding: 10px;
   margin: 0;
   text-align: center;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-size: 14px;
   background: #fff5d6;
   border: 1px solid #f1cd59;
   border-radius: 5px;
   text-decoration: underline;
}

.clear {
   clear: both;
}

.pagination {
   margin: 0 auto;
   width: 350px;
   text-align: center;
}

.pagination a {
   width: 100px;
   margin-left: 50px;
   padding: 5px;
   background: #fff5d6;
   border: 1px solid #f1cd59;
}

.circle {
   color: #333;
   width: 50px;
   height: 50px;
   padding: 4px 8px;
   background: #fff5d6;
   border: 1px solid #f1cd59;
   border-radius: 50px;
}

.wrapper {
   width: 1024px;
   margin: 40px auto;
   padding: 0;
   background: #ffffff;
   border: 6px solid #c0cdd2;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.header {
   margin: 0;
   padding: 0 10px;
   height: 80px;
   background: #ffffff;
   border-radius: 10px 10px 0 0;
   -moz-border-radius: 10px 10px 0 0;
   -webkit-border-radius: 10px 10px 0 0;
}

.logo {
   margin: 3px 10px;
   color: #2f6784;
   float: left;
   font-size: 14px;
   font-family: Tahoma, Arial, Helvetica, sans-serif ;
}

.login_info {
   float: right;
   margin: 26px 10px;
   padding: 5px;
   background: #fff5d6;
   border: 1px solid #413F3C;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.count_info {
   float: right;
   margin: 26px 10px;
   padding: 5px;
   background: #fff5d6;
   border: 1px solid #413F3C;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.navbar {
  background: #413F3C;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

nav.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.menu > li {
  float: left;
  position: relative;
  border-left: 1px solid black;
}

.menu > li:first-child {
  border-left: 0;
}

.menu > li > a {
  display: block;
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ddbe86;
  letter-spacing: 2px;
}

.menu > li > a.active, .submenu > li >a:hover {
  color: #ddbe86;
}

.menu .fa, .submenu .fa {
  margin-left: 5px;
  color: inherit;
}

.submenu {
  position: absolute;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  background: white;
  visibility: hidden;
  opacity: 0;
  z-index: 10; 
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  min-width: 230px;
}

.submenu li {
  position: relative;
}

.submenu li a {
  color: #282828;
  display: block;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}

.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.submenu li {
  position: relative;
}

li:hover > .submenu {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.search {
   float: left;
   margin: 27px 50px;
}

.search input[type="text"] {
   width: 160px;
   height: 20px;
   padding: 2px;
   border: 1px solid #413F3C;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.search input[type="submit"] {
   padding: 3px 5px;
   background: #fff5d6;
   border: 1px solid #413F3C;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.content {
   margin: 20px 0;
   height: 100%;
   min-height: 300px;
   padding: 0 10px;
   background: #ffffff;
}

.order {
   margin: 20px 0;
   padding: 10px;
   background: #ccc;
}

.home-box {
   margin: 40px 90px;
   padding: 10px;
   float: left;
   width: 300px;
   height: 200px;
   background: #fff;
   border: 1px solid #ddbe86;
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
}

.home-box ul {
   padding: 0;
   margin: 0;
   text-align: center;
}


.home-box li {
   position: relative;
   /*text-align: center;*/
   text-align: right;
   list-style: none;
   padding: 20px 0;
   border-bottom: 1px solid #413F3C;
}

.home-box h2 {
   position: relative;
   text-align: center;
   list-style: none;
   color: red;
}
	
@media only screen (max-width: 320px) {

.wrapper {
   display: none;
   width: 100%;
   margin: 20px 0;
   padding: 0;
   background: #ffffff;
   border: 6px solid #c0cdd2;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.home-box {
   margin: 20px  0;
   padding: 10px 0;
   height: 200px;
   background: #fff;
   border: 1px solid #ddbe86;
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
 }
}

@media only screen (max-width: 480px) {

.wrapper {
   width: 320px;
   margin: 20px 0;
   padding: 0;
   background: #ffffff;
   border: 6px solid #c0cdd2;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.home-box {
   margin: 20px  0;
   padding: 10px 0;
   width: 300px;
   height: 200px;
   background: #fff;
   border: 1px solid #ddbe86;
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
 }
 
 
.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}

